/* LoginButton.module.css */
.button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #00DA5A;
    color: #ffffff;
    padding: 10px;
    font-size: 18px;
    line-height: 1.25rem;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    align-items: center;
    border-radius: 100px;
    gap: 0.75rem;
    border: none;
    cursor: pointer;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
                0 2px 4px -1px rgba(0, 0, 0, 0.06);
    transition: .6s ease;
    width: 70vw;
    height: 70px;
    max-width: 350px;
  }
  
  .button svg {
    height: 30px;
  }
  
  .button:hover {
    box-shadow: none;
  }
  