@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  margin: 0;
  font-family: 'Exo 2', sans-serif;
  background: linear-gradient(-45deg, #191414, #351551, #2c2c2c);
  background-size: 400% 400%;
  animation: gradientShift 10s ease-in-out infinite;
}
